/* css for QuizMockV10 
    *colors are set so I can make sure the css is working
    * remember to be careful with variations that use a lot of green/yellow orange/yellow.
    * color blind have trouble with yellow most.  So if yellow is predominant in a background,
    * and in a font color, it will make it hard to read... I need to look into it more.
*/
#constant {
    color: red;
}

body
{
    background-color: lightgrey;
}
.line {
    margin: 0;
    padding: 0;
    width: 92vw;
    margin-left: 10px;
    border: 2px groove #E6EAF7;
}

.start button {
    border-radius: 10%;
    background-color: white;
    border: solid 2px aquamarine;
    font-size: large;
    height: 5vh;
    width: 50vw;
}

button {
    border-radius: 10%;
    background-color: white;
    border: solid 2px aquamarine;
    font-size: large;
}

.title-head {

    text-align: center;
    background: #D6F5FD;
    border-bottom: 2px groove blue; 
}

.center-justify p{
    text-align: center;
    justify-content: space-around;
}

ul, li {
    border: none;
    list-style-type: none;
    display: inline-block;
}
.Instructions{
    display: inline;
    height: 50vh;
    width: 50vw;
    color: indigo;
    text-align: center;
}
#load_image{
    display: none;
}
.results{
    color:midnightblue;
    text-align: center;
    margin: auto;
    padding-left: 20vw;
    font-size: 2em;
    padding: 0;
    display: none;
}

.quiz_box{
    background-color: #D3DBED;
    border: 5px solid #054DF9;
    width: 95vw;
    margin-right: 10px;
}

.question_s{
    border: none;
    display: inline-block;
    font-size: large;
    color: black;
}
.question{
    display:inline;
    border: none;
    font-size: 2em;
    color: cornflowerblue;
}


