/* css for QuizMockV10
    *colors are set so I can make sure the css is working
    * remember to be careful with variations that use a lot of green/yellow orange/yellow.
    * color blind have trouble with yellow most.  So if yellow is predominant in a background,
    * and in a font color, it will make it hard to read... I need to look into it more.
*/

.messages-container {
  display: none;
  justify-content: center;
}

#constant {
    color: red;
}

body {
    background-color: #FCFBF8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line {
    margin: 0;
    padding: 0;
    width: 92vw;
    margin-left: 10px;
    border: 2px groove #E6EAF7;
}

.link-box {
    display: inline-block;
    height: 90vh;
    width: 100vw;
    padding: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.start {
    position: relative;
    background-color: #FCFBF8;
    border: none;
    font-size: large;
    margin: 0 auto;
    width: 25vw;
}

.basic_term {
    width: 100vw;
    height: 80vh;
    padding: 5px;
    margin-top: auto;
}

button {
    border-radius: 10%;
    background-color: #F7F7F9;
    border: solid 2px aquamarine;
    font-size: large;
}

    button:hover {
        background-color: #E4E7F2;
    }

.title-head {
    text-align: center;
    background: #D6F5FD;
    border-bottom: 2px groove blue;
}

.center-justify p {
    text-align: center;
    justify-content: space-around;
}

ul, li {
    border: none;
    list-style-type: none;
    display: inline-block;
    padding-left: 5vw;
}

.Instructions {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    color: indigo;
    font-size: 2em;
}

#load_image {
    display: none;
}

.results {
    color: midnightblue;
    text-align: center;
    margin: auto;
    padding-left: 20vw;
    font-size: 2em;
    display: none;
}

.true_false {
    display: none;
    background-color: #F7F7F9;
    border: 5px solid #054DF9;
    width: 95vw;
    margin-right: 10px;
    margin-top: 10%;
}

.quiz_box {
    display: none;
    background-color: #F7F7F9;
    border: 5px solid #054DF9;
    width: 95vw;
    margin-right: 10px;
    margin-top: 10%;
}

.question_s {
    border: none;
    display: inline-block;
    font-size: large;
    color: black;
}

.question {
    display: inline;
    border: none;
    font-size: 2em;
    color: cornflowerblue;
    padding-left: 5vw;
}

.which_question {
    display: none;
    color: cornflowerblue;
}

.end_quiz {
    display: none;
    width: 100vw;
    height: 80vh;
    padding: 5px;
    margin-top: auto;
}

.hidden_congrats {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    color: indigo;
    font-size: 2em;
}
